body {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

canvas#RenderWindow {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

span#DebugPanel {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: #00FF00;
    background-color: rgba(128, 128, 128, 0.75);
    padding: 10px;
}

span#FPSDisplay {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: #00FF00;
    background-color: rgba(255, 255, 255, 0.0);
    padding: 10px;
}

span#LogDisplay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: #00FF00;
    background-color: rgba(128, 128, 128, 0.75);
    padding: 10px;
}

span#CameraPosDisplay {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #00FF00;
    background-color: rgba(255, 255, 255, 0.0);
    padding: 10px;
}

span#Loading {
    color: #00FF00;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 1);
}

div#WholeWindow {
    position: relative;
    width: 100%;
    height: 100%;
}

a#DebugPanelCollapseIcon {
    color: #00FF00;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    display: block;
}

table {
    border-collapse: collapse;
    color: #00FF00;
}

td,
th {
    padding: 0;
}